@import 'react-datepicker/dist/react-datepicker';

.time-picker-set.react-datepicker {
  display: flex;
  flex-direction: row;
}

.react-datepicker {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  border-color: #cdd8e2;
  border-radius: 6px;
  &__input-time-container {
    display: none;
  }
  &__header {
    background-color: #ffffff;
    border-bottom: 1px solid #cdd8e2;
    margin: 5px 20px 0 20px;
  }
  &__children-container {
    width: auto;
  }
  &__day {
    height: 25px;
    &:focus {
      outline: none;
    }
    &-name {
      color: #738596;
      height: 11px;
    }
    &--selected {
      font-weight: 400;
      background-color: #179f89;
      &:hover {
        background-color: #179f89 !important;
      }
    }
    &--keyboard-selected {
      background-color: transparent;
      color: black;
    }
    &--outside-month {
      color: #c8cacc;
    }
    &:hover {
      background-color: #e3f0e8;
    }
  }

  .react-datepicker__day--selected.react-datepicker__day--outside-month {
    background-color: #179f89;
    color: #ffffff;
  }
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__day-name,
.react-datepicker__day {
  width: 31px;
}

.calendar-popper {
  padding: 0 !important;
  z-index: 9999;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
  border-radius: 6px;
}
